Protocol 2
LogLevel VERBOSE
PermitRootLogin no
MaxSessions 100
AuthorizedKeysFile     .ssh/authorized_keys
ChallengeResponseAuthentication no
UsePAM yes
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS
ClientAliveInterval 240
ClientAliveCountMax 5
UseDNS no
MaxStartups 10:30:100
Subsystem sftp internal-sftp -f AUTH -l INFO

AllowGroups {{ getenv "allowed_groups" }}
Match User {{ getenv "allowed_users" }}
    ChrootDirectory %h
    ForceCommand internal-sftp
    AllowTcpForwarding no
    X11Forwarding no
