---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: static-persistence-volume-deployment
  namespace: sftp
  labels:
    environment: dev
    app: sftp
spec:
  replicas: 1
  template:
    metadata:
      labels:
        environment: dev
        app: sftp
    spec:
      containers:
      - image: goepjbossacr.azurecr.io/sftp_baseimage
        name: sftp-container
        imagePullPolicy: Always
        env:
        - name: SFTP_USERS
          value: 'foo:123:1000,bar:abc:1001'

        volumeMounts:
        - name: user1
          mountPath: /home/foo/in
        - name: user2
          mountPath: /home/bar/in
      volumes:
      - name: user1
        persistentVolumeClaim:
          claimName: sftp-share1
      - name: user2
        persistentVolumeClaim:
          claimName: sftp-share2
