---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: sftp-share1
  namespace: sftp
  labels: 
    env: test
    share: user1
spec:
  capacity:
    storage: 5Gi
  accessModes:
  - ReadWriteMany
  storageClassName: ""
  azureFile:
    secretName: static-persistence-secret
    shareName: static-share-user1
    readOnly: false
  mountOptions:
  - dir_mode=0777
  - file_mode=0777
  
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: sftp-share2
  namespace: sftp
  labels: 
    env: test
    share: user2
spec:
  capacity:
    storage: 5Gi
  accessModes:
  - ReadWriteMany
  storageClassName: ""
  azureFile:
    secretName: static-persistence-secret
    shareName: static-share-user2
    readOnly: false