---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sftp-share1
  namespace: sftp
spec:
  selector:
    matchLabels:
      share: user1
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  resources:
    requests:
      storage: 5Gi


---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sftp-share2
  namespace: sftp
spec:
  selector:
    matchLabels:
      share: user2
  accessModes:
    - ReadWriteMany  
  storageClassName: ""
  resources:
    requests:
      storage: 5Gi
