---

kind: Service
apiVersion: v1
metadata:
  name: sftp
  namespace: sftp
  labels:
    environment: dev
spec:
  type: "LoadBalancer"
  ports:
  - name: "ssh"
    port: 22
    targetPort: 22
  selector:
    app: sftp
status:
  loadBalancer: {}

---

apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: sftp
  namespace: sftp
  labels:
    environment: dev
    app: sftp
  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sftp
  template:
    metadata:
      labels:
        environment: dev
        app: sftp
    spec:
      containers:
      - image: goepjbossacr.azurecr.io/sftp_baseimage
        env:
        - name: SFTP_USERS
          value: 'foo:123:1000,bar:abc:1001'
        volumeMounts:
        - mountPath: /data
          name: sftp-data
        - mountPath: /data/foo/.ssh/keys
          name: sftp-public-keys
          readOnly: true
        imagePullPolicy: Always
        name: sftp
        securityContext:
            capabilities:
              add: ["SYS_ADMIN"]
        resources: {}
        stdin: true
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        tty: true
      restartPolicy: Always
      volumes:
        - name: sftp-public-keys
          configMap:
            name: sftp-public-keys
        - name: sftp-data
          persistentVolumeClaim:
            claimName: sftpvolumeclaim

