---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: static-persistence-volume
  labels: 
    storage: slow
spec:
  capacity:
    storage: 50Gi
  accessModes:
  - ReadWriteMany
  storageClassName: sc-azurefile-static
  azureFile:
    shareName: storage
    readOnly: false