---

kind: Service
apiVersion: v1
metadata:
  name: sftp-svc
  namespace: sftp
  labels:
    environment: dev
spec:
  type: "LoadBalancer"
  loadBalancerIP: 104.40.207.44
  ports:
  - name: "ssh"
    port: 22
    targetPort: 22
  selector:
    app: sftp
status:
  loadBalancer: {}

---

apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: sftp-deploy
  namespace: sftp
  labels:
    environment: dev
    app: sftp
  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sftp
  template:
    metadata:
      labels:
        environment: dev
        app: sftp
    spec:
      containers:
      - image: goepjbossacr.azurecr.io/sftp_baseimage
        env:
        - name: SFTP_USERS
          value: 'foo:123:1000,bar:abc:1001'
        volumeMounts:
        - mountPath: /data
          name: disk-data
#        - mountPath: /home/foo/.ssh
#          name: sftp-public-keys
#        - mountPath: /home/bar/.ssh
#          name: sftp-public-keys
#          readOnly: true
        imagePullPolicy: Always
        name: sftp-container
        securityContext:
            capabilities:
              add: ["SYS_ADMIN"]
        resources: {}
        stdin: true
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        tty: true
      restartPolicy: Always
      volumes:
#        - name: sftp-public-keys
#          configMap:
#            name: sftp-public-keys
        - name: disk-data
          azureDisk:
            kind: Managed
            diskName: myAKSDisk
            diskURI: /subscriptions/440c6df7-f4b9-4757-b234-a5c9d2bc2929/resourceGroups/MC_RG-Jboss_jbossk8s_westeurope/providers/Microsoft.Compute/disks/myAKSDisk


        