#	$OpenBSD: sshd_config,v 1.80 2008/07/02 02:24:18 djm Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/local/bin:/bin:/usr/bin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options change a
# default value.

#Port 22
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

# Disable legacy (protocol version 1) support in the server for new
# installations. In future the default will change to require explicit
# activation of protocol 1
Protocol 2

# HostKey for protocol version 1
#HostKey /etc/ssh/ssh_host_key
# HostKeys for protocol version 2
#HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_dsa_key

# Lifetime and size of ephemeral version 1 server key
#KeyRegenerationInterval 1h
#ServerKeyBits 1024

# Logging
# obsoletes QuietMode and FascistLogging
SyslogFacility AUTH
#SyslogFacility AUTHPRIV
#KS uncommented
LogLevel VERBOSE

# Authentication:

#LoginGraceTime 2m
PermitRootLogin no
#StrictModes yes
#MaxAuthTries 6
MaxSessions 100

#RSAAuthentication yes
#PubkeyAuthentication yes
#AuthorizedKeysFile	.ssh/authorized_keys
#AuthorizedKeysCommand none
#AuthorizedKeysCommandRunAs nobody

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
#RhostsRSAAuthentication no
# similar for protocol version 2
#HostbasedAuthentication no
# Change to yes if you don't trust ~/.ssh/known_hosts for
# RhostsRSAAuthentication and HostbasedAuthentication
#IgnoreUserKnownHosts no
# Don't read the user's ~/.rhosts and ~/.shosts files
#IgnoreRhosts yes

# To disable tunneled clear text passwords, change to no here!
#PasswordAuthentication yes
#PermitEmptyPasswords no
PasswordAuthentication yes

# Change to no to disable s/key passwords
#ChallengeResponseAuthentication yes
ChallengeResponseAuthentication no

# Kerberos options
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no
#KerberosUseKuserok yes

# GSSAPI options
#GSSAPIAuthentication no
GSSAPIAuthentication no
#GSSAPICleanupCredentials yes
GSSAPICleanupCredentials yes
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no

# Set this to 'yes' to enable PAM authentication, account processing, 
# and session processing. If this is enabled, PAM authentication will 
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
#KS set to No
#UsePAM no

UsePAM yes

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

#AllowAgentForwarding yes
#AllowTcpForwarding yes
#GatewayPorts no
#X11Forwarding no
X11Forwarding yes
#X11DisplayOffset 10
#X11UseLocalhost yes
#PrintMotd yes
#PrintLastLog yes
#TCPKeepAlive yes
#UseLogin no
#UsePrivilegeSeparation yes
#PermitUserEnvironment no
#Compression delayed
ClientAliveInterval 240
ClientAliveCountMax 5
#ShowPatchLevel no
#UseDNS yes
#Disabling reverse DNS lookups
UseDNS no
#PidFile /var/run/sshd.pid
#MaxStartups 50:30:100
#changed Maxstartup on 24 Jul 2018
MaxStartups 10:30:100
#PermitTunnel no
#ChrootDirectory none

# no default banner path
#Banner none

# override default of no subsystems
#Subsystem	sftp	/usr/libexec/openssh/sftp-server
Subsystem sftp internal-sftp -f AUTH -l INFO

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	ForceCommand cvs server


#Match User jboss_dev,dpduser1_dev,dpduser2_dev,dpduser3_dev,dpduser4_dev,bpostuser_dev,econtuser_dev,sebuser_dev,xvi_dev,jboss_syt,dpduser1_syt,dpduser3_syt,dpduser4_syt,bpostuser_syt,econtuser_syt,sebuser_syt,xvi_syt,jboss_trn,dpduser1_trn,dpduser2_trn,dpduser3_trn,dpduser4_trn,bpostuser_trn,econtuser_trn,sebuser_trn,xvi_trn,hermesuser_dev,hermesuser_syt,jboss_sbx,dpduser1_sbx,dpduser2_sbx,dpduser3_sbx,dpduser4_sbx,bpostuser_sbx,econtuser_sbx,sebuser_sbx,xvi_sbx,aruser3_dev,aruser3_syt,iprospect_syt,yamato_syt,mondial_syt,jboss_de2,jboss_dev2,p24user_syt,mpuser_syt,olapicuser_syt,causer_syt,postiuser_syt,postnorduser_syt,postnluser_syt,kghuser_syt,lfuser_syt,lfuser2_syt,lfuser3_syt,lfuser4_syt,dpduser2_syt,gpuser_syt,gpuser_amt,gpuser_int,qingmutec_syt,qingmutec_ams,qingmutec_amt,qingmutec_int,wmsar3user_syt,wmsar4user_syt,foo,bar
#      ChrootDirectory /home
#      ForceCommand internal-sftp
#      AllowTcpForwarding no
#      X11Forwarding no

Match Group appuser
        ChrootDirectory /home/%u
        ForceCommand internal-sftp
        AllowTcpForwarding no

X11Forwarding no


#should not be used
#AllowGroups goep.npr.linux.admin goep.npr.dcsc.mobilisation goep.npr.network.admin goep.npr.monitoring goep.dvt.ta goep.dvt.dmz-sftp.users appuser qualyscan